*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}
.mainContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.subContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.floorLiftContainer {
    height: 90vh;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floors {
    border: 3px solid black;
    height: 25%;
    width: 100%;
}

.liftContainer {
    position: absolute;
    width: 60%;
    height: 25%;
    top: 75%;
    border: 5px solid blue;
    transition: 1s all linear;
}
.numContainer{
    display: flex;
}
.floorBtn{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: 6px solid black;
    font-size: 30px;
    font-weight: 600;
    transition: 0.2s all;
    margin: 10px;
}
.floorBtn:hover{
    color: rgba(0, 0, 0, 0.604);
}

.clickedBtn{
    color: red !important;
    border-color: red !important;
    cursor: not-allowed;
}