* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.main-container {
  background-color: #074c77;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floor {
  background-color: #67bde2;
  width: 100%;
  height: 24%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 15%;
}

.elevator-container {
  height: 100%;
  background-color: #074c77;
  position: absolute;
  width: 20%;
  overflow: hidden;
}

.elevator {
  z-index: 4;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 24%;
  display: flex;
  background-image: url(./imgs/avatar2.jpeg);
  background-size: 100% 100%;
  /* transition: 1s linear; */
}
.door {
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  width: 50%;
  height: 100%;
  position: relative;
  transition: 1s linear;
}
.left-door {
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  left: 0px;
}
.right-door {
  background: linear-gradient(
    320deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  right: 0px;
  border-left: 2px solid #4d8088;
}

.building-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 9px;
}

.elevator-btn {
  width: 9%;
  height: 70%;
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: #074c77;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.elevator-chain {
  width: 20%;
  height: 99.4%;
  position: absolute;
}

.elevator-chain img {
  width: 100%;
  height: 100%;
}
